@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: white;
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  padding: 5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1110px;
}

.proof {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.proof .marketing-title {
  color: #502050;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.proof .marketing-desc {
  color: #937b92;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.7;
}

.proof .ratings {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  margin-top: 2.25rem;
}

.proof .ratings .rating {
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proof .ratings .rating-stars img {
  margin: 0 0.1rem;
}

.proof .ratings .rating-text {
  color: #502050;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.testimonials {
  margin-top: 2.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.testimonials .testimonial {
  background: #502050;
  color: white;
  border-radius: 5px;
  padding: 2.5rem 2rem;
}

.testimonials .testimonial-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.testimonials .testimonial-header img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.testimonials .testimonial-name {
  font-weight: 700;
  font-size: 0.8rem;
}

.testimonials .testimonial-status {
  color: #ee68a4;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.testimonials .testimonial-desc {
  font-weight: 500;
  margin-top: 1.75rem;
  line-height: 1.6;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  }
  .proof {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    grid-gap: 5rem;
    text-align: left;
  }
  .testimonials {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */