// Import font
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// Colors
$clr-primary: hsl(300, 43%, 22%);
$clr-secondary: hsl(333, 80%, 67%);
$clr-neutral-darker: hsl(303, 10%, 53%);
$clr-neutral-lighter: hsl(300, 24%, 96%);
$clr-white: hsl(0, 0%, 100%);

// Font Weights
$wght-body: 400;
$wght-headings-small: 500;
$wght-headings-big: 700;
