@import 'variables';

// Base/Resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	background-color: $clr-white;
	background-image: url('../images/bg-pattern-top-desktop.svg'),
		url('../images/bg-pattern-bottom-desktop.svg');
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	font-family: $font-stack;
	font-weight: $wght-body;
	// push all content to center
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Container
.container {
	max-width: $max-width;
	padding: 0 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
	align-items: center;
}

// Marketing Text
.marketing {
	&-title {
		color: $clr-primary;
		font-weight: $wght-headings-big;
		font-size: 3rem;
	}

	&-desc {
		color: $clr-neutral-darker;
		margin-top: 1.5rem;
		font-size: 0.9375rem;
		line-height: 1.7;
	}
}

// Ratings
.ratings {
	justify-self: flex-end;

	display: flex;
	flex-direction: column;

	.rating {
		background-color: $clr-neutral-lighter;
		border-radius: 5px;
		padding: 1rem 1.5rem;
		margin-top: 1rem;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;

		&-text {
			color: $clr-primary;
			font-weight: $wght-headings-big;
			font-size: 0.8125rem;
		}

		&:first-child {
			margin-top: 0;
			transform: translateX(-6rem);
		}

		&:nth-child(2) {
			transform: translateX(-3rem);
		}
	}
}

// Testimonials Section
.testimonials {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;

	.testimonial {
		background: $clr-primary;
		color: $clr-white;
		border-radius: 5px;
		padding: 2.5rem 2rem;
		font-size: 0.8125rem;

		&-header {
			display: flex;
			align-items: center;
			gap: 1.5rem;

			img {
				height: 2.5rem;
				width: 2.5rem;
				border-radius: 50%;
			}
		}

		&-name {
			font-weight: $wght-headings-big;
		}

		&-status {
			color: $clr-secondary;
			margin-top: 0.5rem;
		}

		&-desc {
			font-weight: $wght-headings-small;
			margin-top: 1.75rem;
			line-height: 1.6;
		}

		&:nth-child(2) {
			transform: translateY(1rem);
		}

		&:last-child {
			transform: translateY(2rem);
		}
	}
}

@import 'media';
